# Database configuration
# ~~~~~
# You can declare as many datasources as you want.
# By convention, the default datasource is named `default`

# MYSQL Connection Configs Using Slick
slick.dbs.default.driver = "slick.driver.MySQLDriver$"
slick.dbs.default.db.driver = "com.mysql.jdbc.Driver"
slick.dbs.default.db.url = "jdbc:mysql://localhost/HiPCMSdb"
slick.dbs.default.db.user = "root"
slick.dbs.default.db.password = ""