@()(implicit request: RequestHeader, messages: Messages)

@import forms.SignInForm.form
@import b3.inline.fieldConstructor

    <!-- Start of signIn -->
<fieldset class="col-md-6 col-md-offset-3" ng-controller="SignInCtrl">
    <legend>Localize: "sign.in.credentials"</legend>
    <form name="form" id="sign-in-form" ng-submit="submit()" ng-model-options="{ updateOn: 'submit blur' }" autocomplete="off">

        @b3.email(form("email"), '_hiddenLabel -> "Localize: email", 'placeholder -> "Localize: email", 'class -> "form-control input-lg", 'required -> "", Symbol("ng-model") -> "email")
        <div class="help-block text-danger" ng-if="form.email.$dirty" ng-messages="form.email.$error">
            <div ng-message="required">Localize: "error.required"</div>
            <div ng-message="email">Localize: "error.email"</div>
        </div>

        @b3.password(form("password"), '_hiddenLabel -> "Localize: password", 'placeholder -> "Localize: password", 'class -> "form-control input-lg", 'required -> "", Symbol("ng-model") -> "password")
        <div class="help-block text-danger" ng-if="form.password.$dirty" ng-messages="form.password.$error">
            <div ng-message="required">Localize: "error.required"</div>
        </div>

        @b3.checkbox(form("rememberMe"), '_text -> "Localize: remember.me", 'checked -> true, Symbol("ng-model") -> "rememberMe", Symbol("ng-init") -> "rememberMe=true")

        <div class="form-group">
            <button ng-disabled="form.$invalid" id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">
                Localize: "sign.in"</button>
        </div>

        <div>
            <p class="not-a-member">Localize: "not.a.member") <a ui-sref="signUp">Localize: "sign.up.now")</a></p>
        </div>

    </form>
</fieldset>