@()(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor
@import forms.SignUpForm.form

    <!-- Start of signUp -->
<fieldset class="col-md-6 col-md-offset-3" ng-controller="SignUpCtrl">
    <legend >Localize: "sign.up.account"</legend>
    <form name="form" id="sign-up-form" ng-submit="submit()" ng-model-options="{ updateOn: 'submit blur' }" autocomplete="off">

        @b3.text(form("firstName"), '_hiddenLabel -> "Localize: first.name", 'placeholder -> "Localize: first.name", 'class -> "form-control input-lg", 'required -> "", Symbol("ng-model") -> "firstName")
        <div class="help-block text-danger" ng-if="form.firstName.$dirty" ng-messages="form.firstName.$error">
            <div ng-message="required">Localize: "error.required"</div>
        </div>

        @b3.text(form("lastName"), '_hiddenLabel -> "Localize: last.name", 'placeholder -> "Localize: last.name")
        , 'class -> "form-control input-lg", 'required -> "", Symbol("ng-model") -> "lastName")
        <div class="help-block text-danger" ng-if="form.lastName.$dirty" ng-messages="form.lastName.$error">
            <div ng-message="required">Localize: "error.required"</div>
        </div>

        @b3.text(form("email"), '_hiddenLabel -> "Localize: email", 'placeholder -> "Localize: email", 'class -> "form-control input-lg", 'required -> "", Symbol("ng-model") -> "email")
        <div class="help-block text-danger" ng-if="form.email.$dirty" ng-messages="form.email.$error">
            <div ng-message="required">Localize: "error.required"</div>
            <div ng-message="email">Localize: "error.email"</div>
        </div>

        @b3.password(form("password"), '_hiddenLabel -> "Localize: password", 'placeholder -> "Localize: password", 'class -> "form-control input-lg", 'required -> "", Symbol("ng-model") -> "password")
        <div class="help-block text-danger" ng-if="form.password.$dirty" ng-messages="form.password.$error">
            <div ng-message="required">Localize: "error.required"</div>
        </div>

        <div class="form-group">
            <button ng-disabled="form.$invalid" id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">
                Localize: "sign.up"</button>
        </div>

        <div>
            <p class="already-member">Localize: "already.a.member" <a ui-sref="signIn">Localize: "sign.in.now")</a></p>
        </div>
    </form>
</fieldset>